.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact {
    overflow-y: hidden;
    font-size: 40px;
    font-weight: 800;
}

.contact a {
    display: table;
}

.contact a:hover {
    color: #f3d3d3;
    text-decoration: dotted;
}