.work-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.work-wrapper {
  overflow-y: hidden;
  font-size: 40px;
  font-weight: 800;
  display: flex;
}

.work-wrapper a {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.work-item:hover {
  color: #f3d3d3;

}